*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mate", serif;
}
/* navigation */
nav div{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding:0px 20px 0px 10px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}

/* nav h2{
    color:white;
} */

nav a:hover{
    color: red;
}

/* Highlight login Button */
nav li:last-child a{
    background-color: red;
    padding: 6px 24px;
    border-radius: 5px;
}
nav li:last-child a:hover{
    background: #cc0000;
    color: black;
}

nav a.active{
    color:red;
    font-weight: bold;
    border-bottom: 2px solid red;
}

/* hero */
.hero{
    background: url(images/bitebox_backgroud4.png);
    aspect-ratio: 2752 / 1536;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.hero button:hover{
    background-color: rgb(148, 9, 9);
}

/* video section */
.video_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap:20px
}
.video_text{
    flex:1;
}
.video_box{
    flex:1;
}
.video_box video{
    width: 100%;
    border-radius: 10px;
}
.video_text h2{
    font-size: 32px;
    margin-bottom: 15px;
}
.video_text p{
    font-size: 18px;
    color:#444;
}